$primary: #fd7e14;
$enable-responsive-font-sizes: true;
$font-size-base: 1.2rem;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.container {
  .scrolltarget:before {
    height: 54px;
    content: "";
    display: block;
  }
}

html {
  scroll-behavior: smooth;
}

.command {
  color: #70707f; /*#60606f*/
}

.yc-footer {
  text-align: center;
  font-size: 1rem;
  color: #babfbd
}

#version {
  float: right;
}

//https://www.w3schools.com/howto/howto_css_parallax.asp
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-info {
  background-image: url('../images/hakurei.jpg');
  height: 600px;
}

.parallax-download {
  background-image: url('../images/hakurei_inside.jpg');
  height: 600px;
}

.parallax-text {
  @extend .alert;
  background-color: #4C4C4C3f;
  color: white;
}

@media (max-width: 576px) {
  .smaller-sm-text {
    font-size: 75%;
  }
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

@import "~bootstrap/scss/bootstrap";
